*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    gap: 1rem;
    min-height: 100vh;    
    width: 100vw;
    background-color: rgb(215, 220, 207);
}
#container_cabeza{
    grid-area: container_cabeza;
    margin-top: 0.5rem;
    gap: 1rem;
    padding: 1rem;
}
#container_cabeza h1{
    text-align: center;
    color: rgb(202, 37, 37);
}
#container_cabeza hr{
    width: 100%;
    height: 2px;
    background-color: rgb(14, 123, 58);
    border: none;
}
#container_cuerpo{
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 1rem;
    padding: 1rem;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
#resultado{
    text-align: center;
    color: rgb(202, 37, 37);
    font-size:larger ;
}